<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <title>Recipe Share</title>
</head>
<body>
    <div class="container">
        <div class="d-flex justify-content-between mt-4">
            <h2>Welcome, {{user.first_name}}</h2>
            <div>
                <a href="/recipes" class="me-4">Back to Recipes</a>
                <a href="/logout" class="ms-4">Logout</a>
            </div>
        </div>
        <div class="d-flex justify-content-between mt-4">
            <div>
                <h4>{{recipe.name}}</h4>
            </div>
            <div>
                <h6>Posted by: {{recipe.creator.first_name}}</h6>
            </div>
        </div>
        <div class="border border-2 border-dark m-1">
            <div class="container d-flex justify-content-between">
                <p>Description:</p> 
                <p class="w-75">{{recipe.description}}</p>
            </div>
            <div class="container d-flex justify-content-between">
                <p>Under 30 minutes?</p>
                <p class="w-75">
                    {%if recipe.under_30 == 1%}
                    Yes
                    {%else:%}
                    No
                    {%endif%}
                </p>
            </div>
            <div class="container d-flex justify-content-between">
                <p>Instructions:</p> 
                <p class="w-75">{{recipe.instructions}}</p>
            </div> 
            <div class="container d-flex justify-content-between">
                <p>Date Made:</p> 
                <p class="w-75">{{recipe.date_made.strftime('%B %e, %Y')}}</p>
            </div>
        </div>
    </div>
</body>
</html>