<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" />
    <title>Flask Demo</title>
</head>
<body>
    <h1>Hello {{name}}</h1>
    <ul>
    {% for user in users%}
    {%if user.name == "John"%}
<li>{{user["name"]}} :: {{user["email"]}}</li>
{%else%}
<li>{{user["name"]}}</li>
    {%endif%}
    {%endfor%}
    </ul>
</body>
</html>